img {
    width: 200px;
}

body {
    text-align: center;
font-family: "Arial" ;

}
body {
    background-color: blue
}
body {
    background-image: url("https://media.giphy.com/media/TxVVB6PfWMjE4/source.gif");

    
    
}

